<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>single input form</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

      <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right,#02b3e4,#02ccba);
  padding-top: 80px;
  font: normal 18px Sniglet;
  color: white;
  text-align: center;
}

/*general styles*/
h1 {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 75px;
}

.fun-cube i {
  transform: scale(10);
  opacity: 0.1;
}

#cuboid {
  width: 400px;
  margin: 0 auto;
  /*this also makes #cuboid a container for absolutely positioned descendants*/
  perspective: 1000px;
}

#cuboid form {
  /*counter translate*/
  transform: translateZ(-20px);
  /*propogate 3d space for children*/
  transform-style: preserve-3d;
  /*prevent height collapse as children are absolutely positioned*/
  height: 40px;
  /*for smooth animations*/
  transition: all 0.35s;
}

/*faces*/
.cuboid-text {
  /*each face will be 40px high*/
  line-height: 40px;
  height: 40px;
  background: #44076d;
}

.loader {
  background: #2e6b2e;
  animation: phase 1s infinite;
}

/*Lets create a pulsating animation for the loader face*/
@keyframes phase {
  50% {
    background: #178217;
  }
}
#email {
  background: white;
  outline: none;
  border: 0 none;
  font: inherit;
  text-align: left;
  color: #2e6b2e;
  display: block;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

#submit {
  display: none;
}

.submit-icon, .reset-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.25);
  line-height: 40px;
  padding: 0 10px;
  /*smooth transitions when user activates input and types something*/
  transition: all 0.5s;
  /*to make the icons feel like buttons*/
  cursor: pointer;
}

/*.active = when the user is typing something*/
.submit-icon.active {
  color: #2e6b2e;
}

.reset-icon {
  color: rgba(255, 255, 255, 0.25);
  font-size: 14px;
}

#cuboid div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*3D transforms. Each face will be rotated in multiples of -90deg and moved 20px(half of their 40px height) out*/
#cuboid div:nth-child(1) {
  transform: rotateX(0deg) translateZ(20px);
}

#cuboid div:nth-child(2) {
  transform: rotateX(-90deg) translateZ(20px);
}

#cuboid div:nth-child(3) {
  transform: rotateX(-180deg) translateZ(20px);
}

#cuboid div:nth-child(4) {
  transform: rotateX(-270deg) translateZ(20px);
}

/*the form will have 4 states/classes(default+3) for rotation*/
#cuboid form:hover,
#cuboid form.ready {
  transform: translateZ(-20px) rotateX(90deg);
}

#cuboid form.loading {
  transform: translateZ(-20px) rotateX(180deg);
}

#cuboid form.complete {
  transform: translateZ(-20px) rotateX(270deg);
}

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

  <div class="fun-cube"><i class="fa fa-cube"></i></div>
<h1>Bid It To Win It!</h1>

<!-- heirarchy: #cuboid > form > div*4(cuboid faces) -->
<div id="cuboid">
        <form action="/js/bid_controller" method="POST">
		<!-- #1 hover button -->
		<div>
			<p class="cuboid-text">Place Your Bid</p>
		</div>
		<!-- #2 text input -->
		<div>
			<!-- Label to trigger #submit -->
			<label for="submit" class="submit-icon">
				<i class="fa fa-chevron-right"></i>
			</label>
			<input type="number" id="email" name="a" class="cuboid-text" placeholder="Your Amount" autocomplete="off"/>
			<!-- hidden submit button -->
			<input type="submit" id="submit"  value="Submit" />
		</div>
		<!-- #3 loading message -->
		<div>
			<p class="cuboid-text loader">Just a moment</p>
		</div>
		<!-- #4 success message -->
		<div>
			<!-- reset/retry button -->
			<span class="reset-icon"><i class="fa fa-refresh"></i></span>
			<p class="cuboid-text">Thankyou, we'll be in touch</p>
		</div>
	</form>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>

  




</body>

</html>
