<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <style>
      body{
          background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
      }
h1{
  text-align: center;
  margin: 5%;
}
#xyz{
  border-radius: 10px;
  border:5px;
  box-shadow:12px 15px 20px 0 rgb(0, 183, 255);
}
#container{
  margin: 0 10% 0 10%;
  padding: 10px;
  text-align: center;
}
#textMain{
  margin: 0 10% 0 10%;
  padding: 10px;
 

  text-align: center;
}

ul{
  text-align: left;
  padding:1%;
  font-size:125%;
}
    </style>


  
</head>

<body>

  <header>
  <title> title </title> 
</header>

<body>
    <p style="position: relative;color: indigo;text-shadow: 0.075em 0.075em 0.05em rgba(102, 102, 102, 0.678);font-size: 35px;margin-left:320px ">Generic Handmade Vintage Gramophone! <br></style></p>
  <!-- <h1> Generic Handmade Vintage Gramophone! </h1> -->
  <div id = 'container'>
  <a> <image id = 'xyz' src = "/images/product/p1.jpeg" </image> </a>
  </div>
  <div id = 'textMain'>
    <ul>
      <li> Length - 5 inches, Width - 5 inches, Height - 9 inches.</li>
      <li> Sheesham Wood & Brass.</li>
      <li> Made by rural artist of India.</li>
      <li> Authentic design!! Not a replice!! All are Hand made so some imperfection might occur.</li>
      <li> Add a retro charm to your home with this lovely little handmade vintage model gramophone.</li>
      <li> Its vintage retro look will take you back in time.</li>
      <li> It's made of fine materials that are indigenous as well, small and cute.</li>
      <li> Buy this & promote Indian rural artists!!</li>
    </ul>
    <button id = 'link'> <a href = 'bid.ejs' target = '_blank'>Click Here For Placing Bid! </a></button>
  </div>
  
</body>
  
  

</body>

</html>
