<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <style>
      body{
          background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
      }
h1{
  text-align: center;
  margin: 5%;
}

#container{
  margin: 0 10% 0 10%;
  padding: 10px;
  text-align: center;
}
#xyz{
  border-radius: 10px;
  border:5px;
  box-shadow:12px 15px 20px 0 rgb(0, 183, 255);
}

#textMain{
  margin: 0 10% 0 10%;
  padding: 10px;
}

ul{
  text-align: left;
  padding:1%;
  font-size:125%;
}
    </style>


  
</head>

<body>

  <header>
  <title> title </title> 
</header>

<body>
    <p style="position: relative;color: indigo;text-shadow: 0.075em 0.075em 0.05em rgba(102, 102, 102, 0.678);font-size: 35px;margin-left:320px ">WWII German Land Customs Majors Uniform! <br></style></p>
  <!-- <h1> WWII German Land Customs Majors Uniform! </h1> -->
  <div id = 'container'>
  <a> <image id = 'xyz' src = "/images/product/p2.jpeg" </image> </a>
  </div>
  <div id = 'textMain'>
    <ul>
      <li>Visor cap, pants & frog with knot.</li>
      <li>3 Award medal bar features a WWI Iron Cross, a WWI Braunschweig War Merit Cross & WWI War Merit Cross w/ swords.</li>
      <li>Also on the pocket is a WWII 25 Year Civil Faithful Service Cross.</li>
      <li>Silver bullion & green staff aiguillette on right side.</li>
      <li>Heavy gray wool pants w/ dark green piping down each side.</li>
      <li>Cap has a gray/green crown w/ dark green band & dark green piping.</li>
      <li>Aluminum Customs eagle w/ silver bullion Customs hat wreath & metal cockade.</li>
      <li>A green & silver bullion Customs sword knot is tied to the frog.</li>
    </ul>
    <button id = 'link'> <a href = 'bid.ejs' target = '_blank'>Click Here For Placing Bid! </a></button>
  </div>
  
</body>
  
  

</body>

</html>
