<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <style>
        body {
  background-color: lightblue;
}

h1{
  text-align: center;
  margin: 5%;
}

#container{
  margin: 0 10% 0 10%;
  padding: 10px;
  background-color:rgb(14, 31, 14);
  text-align: center;
}

#puppyLeft{
  height: 90%;
  width: 45%;
  padding: 1%;
}

#puppyRight{
  height: 90%;
  width: 45%;
  padding: 1%
}

#textMain{
  margin: 0 10% 0 10%;
  padding: 10px;
  background-color:rgb(199, 189, 54);
  text-align: center;
}

ul{
  text-align: left;
  padding:1%;
  font-size:125%;
}
    </style>


  
</head>

<body>

  <header>
  <title> title </title> 
</header>

<body>
  <h1> heading </h1>
  <div id = 'container'>
  <a> <image id = 'xyz' src = "images.jpeg" </image> </a>
  </div>
  <div id = 'textMain'>
    <ul>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
      <li> bla bla bla...</li>
    </ul>
    <!-- href = 'bid.ejs' -->
    <button  onclick="myFunction()" > <a href = 'bid.ejs' target = '_blank' class ="pro" id ="p">Click here for placing bid! </a></button>
  </div>
  <a class="anchors" id="myAnchor" href="https://www.w3schools.com/html/">HTML</a>
<a class="anchors" href="https://www.w3schools.com/css/">CSS</a>
<a class="anchors" href="https://www.w3schools.com/js/">JavaScript</a>

<p>Click the button to display the value of the id attribute of the first link above.</p>

<!-- <button onclick="myFunction()">Try it</button> -->

<p id="demo"></p>

<script>
function myFunction() {
  var x = document.getElementsByClassName("pro")[0].id;
  document.getElementById("demo").innerHTML = x;
}
</script>

  
</body>
  
  

</body>

</html>
