<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <style>
        body{
          background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
      }
      #xyz{
  border-radius: 10px;
  border:5px;
  box-shadow:12px 15px 20px 0 rgb(0, 183, 255);
}

h1{
  text-align: center;
  margin: 5%;
  text-emphasis-color: rgb(36, 50, 112);
  color:rgb(24, 25, 88);
}

#container{
  margin: 0 10% 0 10%;
  padding: 10px;
  
  text-align: center;
}

#textMain{
  margin: 0 10% 0 10%;
  padding: 10px;
  
  text-align: center;
}

ul{
  text-align: left;
  padding:1%;
  font-size:125%;
}
    </style>


  
</head>

<body>

  <header>
  <title> title </title> 
</header>

<body>
    <p style="position: relative;color: indigo;text-shadow: 0.075em 0.075em 0.05em rgba(102, 102, 102, 0.678);font-size: 35px;margin-left:320px "> Talktel Antique Look Corded Landline Phone! <br></style></p>
  <!-- <h1> Talktel Antique Look Corded Landline Phone! </h1> -->
  <div id = 'container'>
  <a> <image id = 'xyz' src = "/images/product/p4.jpeg" border-radius=15px></image> </a>
  </div>
  <div id = 'textMain'>
    <ul>
      <li>With base light, desk or wall mountable.</li>
      <li>Ringer lED indication.</li>
      <li>Flash button.</li>
      <li>Ringer high/low switch,With Tone/Pulse Switch.</li>
      <li>Item Weight is 150 g.</li>
      <li>No Batteries Required.</li>
      <li>Good smart product which looks like a show piece.</li>
    </ul>
    <button id = 'link'> <a href = 'bid.ejs' target = '_blank'>Click Here For Placing Bid! </a></button>
  </div>
  
</body>
  
  

</body>

</html>
